.button_area
  button#talous.big.blue.ui.button Talous
  button#ruokalistat.big.blue.ui.button Ruokalista
  button#siivousvuorot.big.blue.ui.button Siivousvuorot
  button#kauppalista.big.blue.ui.button Kauppalista
  button#kalenteri.big.blue.ui.button Kalenteri
  button#liikuntamittari.big.blue.ui.button Liikuntamittari
  button#muistilistat.big.blue.ui.button Muistilistat
  button#muutosseuranta.big.blue.ui.button Muutosseuranta
