.action_area
  img(src='eetu_includes/ruokalista.jpg', alt='Mountain View', style='width:100pxheight:100px')
  h3 Ruokalista  
  .action_area_left_tools
    .ui.segment
      p Näe muiden ja tee omia ehdotuksia
      p
        .ui.fitted.toggle.checkbox
          input(type='checkbox', name='example')       
          label      
  br   
  button#etusivulle_action_area.big.blue.ui.button(onclick='etusivu_action_area();') Etusivulle
