//.button_area
  //button#talous.big.blue.ui.button(onclick='talous_action_area()') Talous
  //button#ruokalistat.big.blue.ui.button(onclick='ruokalista_action_area()') Ruokalista
  //button#siivousvuorot.big.blue.ui.button(onclick='siivousvuorot_action_area()') Siivousvuorot
  //button#kauppalista.big.blue.ui.button(onclick='kauppalista_action_area()') Kauppalista
  //button#kalenteri.big.blue.ui.button(onclick='kalenteri_action_area()') Kalenteri
  //button#liikuntamittari.big.blue.ui.button(onclick='liikuntamittari_action_area()') Liikuntamittari
  //button#muistilistat.big.blue.ui.button(onclick='muistilistat_action_area()') Muistilistat
  //button#muutosseuranta.big.blue.ui.button(onclick='muutosseuranta_action_area()') Muutosseuranta
