.top_banner
  .logo_top_banner
    a(href='#')
      h1 Home&amp;Life  
  .button_top_banner
    button.siivousvuorot.big.blue.ui.button Etusivu  
    button.big.blue.ui.button Rekister&ouml;ityminen   
    button.big.blue.ui.button Kirjautuminen
  .right_container_top_banner
    .search_bar_top_banner
      .ui.action.input
        input(type='text', placeholder='Search...')    
        button.ui.icon.button
          i.search.icon  
    .user_top_banner
      a(href='#')
        h4 K&auml;ytt&auml;j&auml;: Eetu Aaltonen  
      .exit_button_top_banner
        .blue.ui.animated.button(tabindex='0')
          .visible.content
            exit Exit    
          .hidden.content
            i.sign.out.icon
